
.section_3{
    height: 100vh;
    display: flex;
     
  }
  .p_head_wrap {
    display: flex;
    gap: 30px;
}
  
  .p_service_wrapper {
    display: flex;
    gap: 18px;
  }
  div#h_p_service {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .p_h_heading h1 {
    font-size: 70px;
  }
  div#p_h_heading_1 {
    font-size: 48px;
    text-wrap: nowrap;
  }
  div#p_h_heading_2 {
    font-size: 48px;
    text-wrap: nowrap;
    color:#fff!important;
  }
  div#p_h_heading_2 span {
    color:#fff!important;
  }
  .p_card_section {
    padding: 52px 22px;
    background: #19191E;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  
  
  .p_content h2 {
    margin: 0px;
    font-size: 25px;
    text-transform: capitalize;
    color: #fff;
    text-wrap: nowrap;
  }
  
  .p_content p {
    margin: 0px;
    font-size: 20px;
  }
  
  .p_img img {
    width: 80px;
    height: 80px;
  }
  