div#section_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.left_section img {
    position: absolute;
}

.left_section {
    position: relative;
}

.section_1 {
    height: 100vh;
    overflow: hidden;
}

.second_section {
    align-self: flex-start;
}

.content_section_wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_outer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description_area {
    background: linear-gradient(to bottom, #18191D 0%, #1D1E21 50%, #363C48 100%);
    padding: 22px;
    border-radius: 6px;
    z-index: 9;
    position: relative;
}

.description_area h3 {
    font-size: 25px;
    text-transform: uppercase;
}
.description_area p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 0.4px;
  }


.des_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.des_flex h1 {
    font-size: 400px;
    color: #111216;
    text-shadow: 0px 4px 30px #F24B74;
    font-family: 'Saira';
  }

.tab_left_img {
    position: relative;
    top: -79px;
}
h1.process_c {
    margin-bottom: -42px;
    margin-top: 20px;
}



.tab_left_img img {
    transform: scale(0.7) !important;
    position: absolute;
    left: -197px;
}

h1.process_c {
    margin-bottom: -42px;
    margin-top: 63px;
}


.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    cursor: pointer;
}

.tabs_holder {
    height: 557px;
    position: relative;
    display: flex;
    margin-top: 140px;
    margin-left: 160px;
}

.tab.active {
    background: #F24B74;
}

.tab {
    background: #583C43;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: 168px;
}

.tab:nth-child(2) {
    margin-left: 208px;
}

.tab:nth-child(3) {
    margin-left: 300px;
}

.tab:nth-child(4) {
    margin-left: 208px;
}

.second-section-redponsive {
    display: none;
}



 /* ******************************************** Media Query Start ****************************************************** */






/****** 1024 PX ******/
@media only screen and (max-width: 1024px) {
    .second-section-redponsive {
        display: block
    }
   .second-section-animated {
    display: none;
    }
    

    .tab-panel h3 {
        font-size: 32px;
    }

    .send-msg-cplumn {
        display: none;
    }

    .second-section-inner-res .tabs-container .tab-button-second  {
        padding: 10px 35px;
        cursor: pointer;
        border: none;
        background-color: white;
        border-radius: 40px;
        margin-right: 5px;
        font-size: 24px;      
        color: #F24B74;
    }


   

    .second-section-inner-res .tabs-container .tab-button-second.active  {
        background-color: #F24B74;
        color: white;
    }

    div#p_h_heading_1 h1 {
        color: #f24b74 !important;
        font-size: 35px;
    }

    div#p_h_heading_2 h1 {

        font-size: 35px;
    }
    .second-section-inner-res .tabs-container {
        display: flex;
        gap: 9px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    .second-section-inner-res .tab-item {
        padding: 20px;
        border: 1px solid;
        margin-bottom: 25px;
    }
    
}
