div#section_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.left_section img {
    position: absolute;
}

.left_section {
    position: relative;
}

.section_1 {
    height: 100vh;
    overflow: hidden;
}

.second_section {
    align-self: flex-start;
}

.content_section_wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_outer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description_area {
    background: linear-gradient(to bottom, #18191D 0%, #1D1E21 50%, #363C48 100%);
    padding: 22px;
    border-radius: 6px;
    z-index: 9;
    position: relative;
}

.description_area h3 {
    font-size: 25px;
}

.description_area p {
    font-size: 18px;
}

.des_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.des_flex h1 {
    font-size: 300px;
    color: #111216;
    text-shadow: 0px 4px 30px #F24B74;
    margin-top: 38px;
}

.tab_left_img {
    position: relative;
}

.tab_left_img img {
    transform: scale(0.85);
    position: absolute;
    left: -222px;
}


.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.tabs_holder {
    height: 650px;
    position: relative;
    display: flex;
    margin-top: 172px;
    margin-left: 160px;
}

.tab.active {
    background: #F24B74;
}

.tab {

    background: #583C43;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: 168px;
}

.tab:nth-child(2) {
    margin-left: 208px;
}

.tab:nth-child(3) {
    margin-left: 300px;
}

.tab:nth-child(4) {
    margin-left: 208px;
}

.second-section-redponsive {
    display: none;
}



 





@media only screen and (max-width:1400px){
    div#section_section {
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-gap: 30px;
        gap: 30px;
    }
}
@media only screen and (max-width:1268){
    div#section_section {
    
        grid-template-columns: 25% 1fr;
      
    }
}


 
@media only screen and (max-width: 1024px) {
    .tab-panel {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .tab-item {
        margin: 0px!important;
        height: 100%;
        background: #111216;
        padding: 22px;
        border-radius: 4px;
        border: 2px solid rgb(44 44 44 / 65%)!important;
    }
    .second-section-redponsive {
        display: block
    }
   .second-section-animated {
    display: none;
    }
    
    .second-section-inner-res .tabs-container .tab-button-second  {
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        background-color: white;
        border-radius: 10px;
        margin-right: 5px;
        font-size: 20px;
        font-weight: 600;
        font-family: Saira;
        color: #F24B74;
        text-wrap: nowrap;
    }
    .second-section-inner-res .tabs-container .tab-button-second.active  {
        background-color: #F24B74;
        color: white;
    }
    .second-section-inner-res .tabs-container {
        display: flex;
        margin-bottom: 30px;
    }
    .second-section-inner-res .tab-item {
        padding: 20px;
        border: 1px solid;
        margin-bottom: 25px;
    }
    
}

@media only screen and (max-width:768px){
    .second-section-inner-res .tabs-container {
        display: flex;
        gap: 0px;
        margin-bottom: 30px;
        overflow-x: scroll;
    }
    .tab-item h3 {
        font-size: 32px;
    }
    .p_inner_content {
        text-align: center;
    }
    .p_img {
        text-align: center;
    }
    
}

@media only screen and (max-width:668px) {
    .gallery {
        position: unset;
        overflow-x: scroll;
    }
    .short-description {
        position: unset;
        font-size: 18px!important;
    }
    
}

 
