:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*raaj css*/

.loading {
  background: #111216;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section_2 {
  padding: 80px 0px 0px 0px;
}

.lil-gui>button {
  background: #F24B74 !important;
  font-size: 16px;
  font-family: 'Basement Grotesque';

}

.lil-gui.autoPlace {
  right: 0px !important;
  bottom: 0px;
  background: #19191E;
}

.lil-gui {
  right: 0px !important;
  bottom: 0px;
  top: unset !important
}

button#toggle {
  background: unset;
  top: 80px;
  position: fixed;
  filter: invert(1);
  border: unset;
  padding: 0;

  transform: scale(0.5);
  cursor: pointer;
  right: 0px;
}

button#toggle img {
  mix-blend-mode: color-burn;
  filter: invert(0);
  width: 80px;
  height: 80px;
}







.navigation_buttons button p {

  border-radius: 100%;
  transition: background 0.3s ease, height 0.3s ease, width 0.3s ease;
}

button.active p {
  background: #F24B74;
  height: 12px;
  width: 12px;
}

button.active {
  padding: 16px;
  transition: padding 0.3s ease;
}

.navigation_buttons {
  position: fixed;
  right: 0px;
  top: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 999999999999999999;
}

.navigation_buttons button {
  padding: 12px;
  border: unset;
  border-radius: 8px 0px 0px 8px;
  background: #2e2e2e;
  cursor: pointer;
  transition: background 0.3s ease, padding 0.3s ease;
}





/*raaj css ends*/















/* Service gsap */











* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}









@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen  and (max-width:480px){
  .proj_heading h2 {
    font-size: 58px!important;
  }
  h1.mian-about-heading {
    font-size: 58px;
}
  
}